<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888269933784-5ofvo89rsom0orlcn5ff6tt5d5i1nvsd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888269933784-5ofvo89rsom0orlcn5ff6tt5d5i1nvsd</string>
	<key>API_KEY</key>
	<string>AIzaSyBdPTVgbeYLRqloXY3pZsGbQ8DIcx6dtMU</string>
	<key>GCM_SENDER_ID</key>
	<string>888269933784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.madaminov0888.CustomChat</string>
	<key>PROJECT_ID</key>
	<string>mychatappuz</string>
	<key>STORAGE_BUCKET</key>
	<string>mychatappuz.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:888269933784:ios:914f22a266cd97b6841bad</string>
</dict>
</plist>
